.check-list-item {

    padding: 0.25em;

    &:focus {
        background-color: #99ccff;
        outline: 1px solid;
    }

    &:hover {
        background-color: #cceeff;
    }

    .title {
        font-variant-caps: small-caps;
    }

    .due {
        flex-basis: 0;
        font-size: smaller;

        &.no-due {
            color: #999999;
        }
    }

    &.done {
        .title {
            text-decoration: line-through;
            color: #999999;
        }

        .due {
            text-decoration: line-through;
        }
    }

}
